*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
.Dashboard{
    display: grid;
    
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
                        "sidebar cont";
    

}


.sidebar{
    grid-area: sidebar;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 8fr;
    padding: 25px;
    background-color: rgb(0, 200, 255);
    color: white;
    font-size: 30px;
    font-weight: bold;

}

.s-links ul{
    list-style: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 6fr;
    gap: 15px;
    font-size: 20px;

}
.s-links a{
    color: white;
    text-decoration: none;

}
.header{
    grid-area: header;
    display: grid;
    grid-template-areas: "search name"
                        "title options";
    grid-template-columns: 4fr 1fr;                    
    padding: 30px;   
    font-size: 15px;     
    gap: 50px;            
}
.name{
    margin-left: auto;
}

#search{
    border-radius: 10px;
    width: 500px; 
}
.options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.options button{
    background-color: rgb(0, 200, 255);
    color: white;
    border-radius: 15px;

}
.cont{
    grid-area: cont;
    background-color: rgb(201, 201, 201);
    display: grid;
    padding: 25px;
    grid-template-areas: "Projects Announcements"
                         "Projects Trend";
    grid-template-rows: 4fr 1fr;
    grid-template-rows: 1fr 1fr;                     
}
.Projects{
    display: grid;
    grid-area: Projects;
    grid-template-areas: "head head"
                        "box box";
    grid-template-rows: auto 1fr;
    gap: 10px;
}
.Projects h2{
    grid-area: head;
}
.Projects-boxes{
    grid-area: box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 15px;                      
}
.Projects .box{
    background-color: white;
    padding: 50px;
    border-left: 5px rgb(234, 234, 71) solid;
}
.Announcements{
    grid-area: Announcements;
    padding-left: 25px;
    display: grid;
    grid-template-areas: "ann ann"
                        "info info";
    grid-template-rows: auto 1fr;
    gap: 10px;

}


.Announcements h2{
    grid-area: ann;
}

.Announcements .info{
    grid-area: info;
    display: grid;
    background-color: white;
    gap: 10px;
}
.Announcements .ann{
    border-bottom: 2px black solid;
}

.Trend{
    grid-area: Trend;
    display: grid;
    grid-template-areas: "Trending Trending"
                        "Peace Peace";
    grid-template-rows: auto 1fr;
    gap: 10px;
    padding-left: 25px;
}
.Trend h2{
    grid-area: Trending;
}
.Trend .peace{
    background-color: white;
    gap: 15px;
    grid-area: Peace;
    display: grid;
}
.Trend .set{
    place-self: center;
}
